[mysqld]
default_authentication_plugin = mysql_native_password
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
secure-file-priv=/var/lib/mysql-files
user=mysql

pid-file=/var/run/mysqld/mysqld.pid

log_bin = mysql-bin
max_binlog_size = 500M
sync_binlog = 1
general_log = 1
slow_query_log = 1
long_query_time = 2
log_queries_not_using_indexes = 1

server_id = 2
gtid-mode = ON
enforce-gtid-consistency = ON
log_replica_updates = ON
read_only = 1
relay_log = /var/lib/mysql/mysql-relay-bin

init-connect = 'SET NAMES UTF8MB4'
collation-server = utf8mb4_general_ci
character-set-server = UTF8MB4

group_concat_max_len = 153600
transaction-isolation = READ-COMMITTED

[client]
socket=/var/run/mysqld/mysqld.sock
default-character-set = UTF8MB4

[mysql]
default-character-set = UTF8MB4
